{% extends 'base.html' %}
{% block title %}All Listings{% endblock %}

{% block body %}
    

        <div id="all-listings-banner">
          <div class="all-listings-text">
          <h2 id="top">Search Results</h2>
    
            <p>
              <span id="result-count">
                {{ data_count }}
              </span>
              listings matched your search for {{ listing_results[0]['location']['city'] }}, {{ listing_results[0]['location']['state'] }}.
            </p>
          </div>
        </div>  
    <div class="container all-listings">
        <div id="listing-search-results">
            {% for i in range(paginated|length) %}
              {% if i == 0 %}
              <div class="page" id="page{{ i }}" style="display:block">
              {% else %}
              <div class="page" id="page{{ i }}" style="display:none">
              {% endif %}
                {% for listing in paginated[i] %} <!-- paginated[i] is a list of 10 elems -->

                  {% if listing is mapping %}
                    <ul class="yelp-listing-list list-group">
                      <li class="list-group-item list-group-item-action">
        
                        <div class="row listing-title">
                          <div class="col">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="name_{{ listing['id'] }}"><span class="apartment-name">Apartment Name: </span><a href="listings/{{listing['id']}}" target="_blank">{{ listing['name'] }}</a></h5>
                              
                              <h5 class="rating_{{ listing['id'] }}">Rating: {{ listing['rating']}}</h5>
                              <!-- <button class="favor_button" id="{{ listing['id'] }}">Add to my list</button> -->
                              <form class="yelp_listing_form" action="/add_to_my_list" method="POST">
                            
                                    <input id="add_name" type="hidden" value="{{ listing['name'] }}" name="add_name">
                               
                                    <input id="add_phone" type="hidden" value="{{ listing['phone'] }}"  name="add_phone">
                
                                    <input id="add_address" type="hidden" value="{{listing['location']['address1']}} {{listing['location']['address2']}} {{listing['location']['address3']}}" name="add_address">
                               
                                    <input id="add_city" type="hidden" value="{{ listing['location']['city'] }}" name="add_city">
                                
                                    <input id="add_state" type="hidden" value="{{ listing['location']['state'] }}"  name="add_state">
                                
                                    <input id="add_zip_code" type="hidden" value="{{ listing['location']['zip_code'] }}" name="add_zip_code">
                              
                                    <input id="add_image_url" type="hidden" value="{{ listing['image_url'] }}" name="add_image_url">
                                
                                    <input id="add_rating" type="hidden" value="{{ listing['rating']}}" step="0.1" name="add_rating">
                
                                    <input id="submitter" type="hidden" value="yelp" name="submitter">
                
                                    <input id="add_yelp_id" type="hidden" value="{{ listing['id'] }}" name="add_yelp_id">
                        
                
                                    <button class="all-listings-buttons" type="submit" id="{{ listing['id'] }}">Add to my List</button>
                                
                            </form>
                            </div>
                          </div>
                        </div>
                      
                        <div class="row">
                          <div class="col-6">
                            <a href="listings/{{listing['id']}}" target="_blank"><img class="listing_img" id="{{ listing['id'] }}"" src="{{ listing['image_url'] }}"></a>
                          </div>
                        </div>
                
                      </li>
                    </ul>
                  {% else %}
                  <ul class="db-listing-list list-group">
                    <li class="list-group-item list-group-item-action">
        
                      <div class="row listing-title">
                        <div class="col">
                          <div class="d-flex w-100 justify-content-between">
                            <h5><span class="apartment-name">Apartment Name: </span><a href="listings/{{listing.listing_id}}" target="_blank">{{ listing.name }}</a></h5>
                            
                            <h5>Rating: {{ listing.rating}}</h5>
                            <!-- <button id="{{ listing.listing_id }}">Add to my list</button> -->
                            {% set address_list = listing.address.split(',') %}
                            <form class="db_listing_form" action="/add_to_my_list" method="POST">
                          
                              <input id="add_name" type="hidden" value="{{ listing.name }}" name="add_name">
                         
                              <input id="add_phone" type="hidden" value="{{ listing.phone[2:] }}"  name="add_phone">
              
                              <input id="add_address" type="hidden" value="{{ address_list[0] }}" name="add_address">
                         
                              <input id="add_city" type="hidden" value="{{ address_list[1] }}" name="add_city">
                          
                              <input id="add_state" type="hidden" value="{{ address_list[2] }}"  name="add_state">
                          
                              <input id="add_zip_code" type="hidden" value="{{ listing.zip_code }}" name="add_zip_code">
                        
                              <input id="add_image_url" type="hidden" value="{{ listing.image_url }}" name="add_image_url">
                          
                              <input id="add_rating" type="hidden" value="{{ listing.rating }}" step="0.1" name="add_rating">
              
                              <input id="submitter" type="hidden" value="{{ listing.user.id }}" name="submitter">
              
                              <input id="add_yelp_id" type="hidden" value="" name="add_yelp_id">
                  
              
                              <button class="db_listing_button" type="submit" id="{{ listing.listing_id }}">Add to my List</button>
                          
                      </form>
                          </div>
                        </div>
                      </div>
                    
                      <div class="row">
                        <div class="col-6">
                          <a href="listings/{{listing.listing_id}}" target="_blank"><img class="listing_img" id="{{ listing.listing_id }}" src="{{ listing.image_url}}"><
                        </div>
                      </div>
              
                    </li>
                  </ul>
                  {% endif %}
                {% endfor %}
                </div>
            {% endfor %}

            {%  for i in range(paginated|length) %}
               <button class="page-button" id="{{i}}" onclick="changePage({{i}})">{{ i+1 }}</button>
            {% endfor %}
            <a href="#top">To the top</a>
        
        </div>
    </div>
    </div>

    
{% endblock %}

{% block js %}
<script type="text/javascript">
  {% if user_id is not none %}
    const user_id = {{user_id}}
    {% else %}
       const user_id = null
  {% endif %}
</script>
<script src="/static/project.js"></script>
<script src="/static/change_page.js"></script>
{% endblock %}