{% extends 'base.html' %}
{% block title %}Apartment Finder Home{% endblock %}

{% block body %}
<div id="homepage-body">
{% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <div id="home-content">
      <div class="home-text">
        <h1>Welcome to Apartment Finder!</h1>
        <form action="/listings" method="'GET">
        <!-- <label for="zipcode">Enter your search here:</label> -->
        <input class="form-control" type="text" name="zipcode" id="zipcode" type="text" placeholder="Address,City,or Zipcode" required><br>
        <button class="btn btn-danger my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
</div>


{% endblock %}